WEB-INF/docs
WEB-INF/lib/
WEB-INF/ref/
images/erddapTalk
images/gadgets
images/post
/target/
/content/
download_cache/
/docker/conf/config.sh
/docker/data/*
/docker/datasets/*
*.class
erddap.war
Thumbs.db
.vscode
.settings
.classpath
.project
